@font-face {
  font-family: 'Righteous';
  src: url('./police/Righteous.eot');
  src: local('☺'),
       url('./police/Righteous.woff') format('woff'), 
       url('./police/Righteous.ttf') format('truetype'), 
       url('./police/Righteous.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  position: relative;
}

.fond {
  background: linear-gradient(#2E8AA1, #113F57);
  height : 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fond_co {
  background-color: #2E8AA1;
  height : 70vh;
  width: 80vw;
  margin-top: 20vh;
  position: absolute;
  border-radius: 15px;
  text-align: left
}

.mail {
  margin-top: 150px;
  font-family: 'Righteous';
  margin-left: 5vw;
  color: white;
}

.mdp {
  margin-top : 30px;
  font-family: 'Righteous';
  margin-left: 5vw;
  color: white;
}

.input {
  background-color: #2E8AA1;
  border-top-style : hidden;
  border-left-style : hidden;
  border-right-style : hidden;
  border-bottom-style : solid;
  border-bottom-color: white;
  margin-left: 5vw;
  width : 70vw
}

.fond_boutton {
  display: flex;
  flex-direction: row;
}

.boutton_co {
  color: #FFD200;
  margin-left: 55vw;
  margin-top: 10vh;
  font-family: 'Righteous';
}

.boutton_co1 {
  color: #FFD200;
  margin-left: 5vw;
  margin-top: 10vh;
  font-family: 'Righteous';
}

.boutton_co2 {
  color: #FFD200;
  margin-left: 67vw;
  margin-top: 5vh;
  font-family: 'Righteous';
}

.App-logo {
  height: 15vh;
  pointer-events: none;
  margin-top : 100px;
}



.logo_co {
  margin-top: 3vh;
  height: 35vh;
  z-index: 1;
}

.App-header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #2e8aa1;
  /**position: fixed;
  width: 100%;**/
}

.corp {
  background: linear-gradient(#2E8AA1, #113F57);
  background-attachment: fixed;


}

.background-image{

  background-image : url("./logo/logo_blanc10.svg");
  background-size: 125%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.margin {

margin-top : 100px;

}

.corp_liste {
  margin-top: 50vh;
  background-color: green;
}

.corp1 {
  height: 115vh;
  display: flex;
  flex-direction: row
}

.corp2 {
  height: 85vh;
  display: flex;
  flex-direction: row
}

.corp3 {
  height: 55vh;
  display: flex;
  flex-direction: row
}

.corp4 {
  height: 140vh;
  display: flex;
  flex-direction: row
}

.corp5 {
  height: 50vh;
  align-items: center;
}

.corp6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin : 0 auto;
}


.div1 {
  height: 110vh;
  width : 50vw;
  align-items: center;
  display: flex;
  flex-direction: column
}

.tof {
  height: 20vh;
  margin-top: 7vh;
}

.tof_sponsor {
  width : 40vw;
  margin-top: 12vh;
}

.tombola {
  background-color: #2e8aa1;
  margin-top: 10vh;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
}

.AGagner{

  color : #FFD200;
  font-family: 'Righteous';
  font-size: 30px;
  margin-top : 10px;

}

.lot {
  width: 250px;
  height: 250px;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4%;
}

.nom_lot {
  margin-top: 2vh;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  color: white;
  width: 380px;
}

.bouton {
  margin-top: 25px;
  width : 20vw;
  height: 7vh;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #FFD200;
  justify-content: center;
}

.buttonName{
  color : #2e8aa1;
  font-family: 'Righteous';
  font-size : 25px;
}

@media only screen and (min-width: 360px) and (max-width: 767px){

  .tombola {
  background-color: #2e8aa1;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  height: 160px;
}

.AGagner{

  color : #FFD200;
  font-family: 'Righteous';
  font-size: 25px;
  margin-top : 10px;

}


.lot {
  width: 160px;
  height: 160px;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4%;
}

.nom_lot {
  margin-top: 0px;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  color: white;
  width: 140px;
  font-size: 15px;

}

.bouton {
  margin-top: 0px;
  width : 100px;
  height: 25px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #FFD200;
  justify-content: center;
}

.corp6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin : 0 auto;
  margin-top : 80px;
}


.buttonName{
  color : #2e8aa1;
  font-family: 'Righteous';
  font-size : 15px;
  margin-top : 5px;
}

.mail {
  margin-top: 180px;
  font-family: 'Righteous';
  margin-left: 5vw;
  color: white;
  font-size: 20px;
}

.mdp {
  margin-top : 20px;
  font-family: 'Righteous';
  margin-left: 5vw;
  color: white;
  font-size: 20px;
}

.boutton_co {
  color: #FFD200;
  margin-left: 15vw;
  margin-top: 15vh;
  font-family: 'Righteous';
  font-size: 20px;
}

.boutton_co1 {
  color: #FFD200;
  margin-left: 5vw;
  margin-top: 15vh;
  font-family: 'Righteous';
  font-size: 20px;
}

.boutton_co2 {
  color: #FFD200;
  margin-left: 45vw;
  margin-top: 5vh;
  font-family: 'Righteous';
  font-size: 20px;
}



}


.font {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  color: white;

}



.font1 {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  margin-top: 10vh;
}

.liste {
  list-style:none;
  margin-left:0;
  padding-left:0;
  margin-top: 5vh;
}

.carre_liste {
  background-color: #113F57;
  height: 25vh;
  width: 80vw;
  border-radius: 20px;
  margin-left: 10vw;
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
}

.cercle_logo {
  background-color: #FFD200;
  margin-left: -8vw;
  margin-top: -8vh;
  height: 20vh;
  width: 20vh;
  border-radius: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carre_descri {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
}

.titre_descri {
  margin-right: 35vw;
  font-family: 'Righteous';
  width: 45vw;
  color: #FFD200;
}

.logo_sponso {
  width: 15vw;
}